<!DOCTYPE html>
<html lang="en">
<head>
  <title>logo</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="img/fav.png">
<script src="stylesheets/js/jquery.min.js"></script>
  <link rel="stylesheet" href="stylesheets/regstyle.css" type="text/css" media="all">

<div class="container">

        <header>

          <nav>
          <ul>
          <li class="menu">
            <a href="/">Головна</a></li>
          <li><a href="#">Бренди</a></li>
          <li><a href="/products">Каталог товарів</a></li>
          <li><a href="#">Контакти</a></li>
          <li><a href="/profile">Акаунт</a></li>
<!-- <li><button> <img src="img/korzina1.png" href = "index.html"></button></li>-->
          </ul>
          </nav>

            <div class="head">
                <div class="logo">
                    <a href="#"><img src="img/up.png" title="Logo" alt="Logo" /></a>
                </div>

                <section id="search">
                  <form action="/search"  method="get" enctype="form-data">

                      <input type="text"  name='q' placeholder= "Search" >
                      <input type="submit" value="search">
                  </form>

                    <ul id="social">
                      <li><a href="https://www.facebook.com" title="facebook" rel="external nofollow"><img alt="" src="img/facebook.png"></a></li>
                      <li><a href="https://twitter.com" title="twitter" rel="external nofollow"><img alt="" src="img/twitter.png"></a></li>
                      <li><a href="https://vk.com/" title="vk" rel="external nofollow"><img alt="" src="img/vk.png"></a></li>
                      <li><a href="https://ok.ru" title="odnoklassniki" rel="external nofollow"><img alt="" src="img/odnoklassniki.png"></a></li>
                      <li><a href="https://www.youtube.com" title="youtube" rel="external nofollow"><img alt="" src="img/youtube.png"></a></li>
                  </ul>
                </section>
            </div>

            <section id="submenu">
              <ul>
              <li><a href="/comp">Комп'ютери та ноутбуки</a></li>
              <li><a href="/phones">Телефони</a></li>
              <li><a href="/home">Товари для дому</a></li>
              <li><a href="/cloth">Одяг та взуття</a></li>
              <li><a href="/book">Книги та канцтовари</a></li>
              <li><a href="/applhome">Побутова техніка</a></li>
              </ul>
            </section>

        </header>



        <div id="main">
            <section id="content">
                <div id="columL">
                     <h3>Enter </h3>


                <form action='/login' method='POST' onsubmit="return SendForm();" enctype="multipart/form-data" class='reg-form rf ' >

             		<div class='form-row' >
             			<label for='form_email'>Email: </label>
             			<input type='email' class="rfield" id='form_email' name='email' /><span id="msg"></span>
             		</div>

                <div class='form-row'>
             			<label for='password'>Password: </label>
             			<input type='password' class="rfield" id='password' name='password' /><span id="msg1"></span>
             		</div>

                <div class="form-row">
             			<input type="submit" class="btn_submit disabled" value='Go' />
             		</div>
                <script type="text/javascript">
                        $(function() {
                                    $("input[id='form_email']").blur(function validate(){
                                    el = $("input[id='form_email']");
                                    inputString = el.val();
                                    if(inputString==""){
                                        $("#msg").css({ "color": "red", });
                                        $("#msg").html(" Вы должны заполнить поле");
                                    } else {
                                        $("#msg").css({ "color": "green", });
                                        $("#msg").html(" Ок");
                                    }
                });
                $("input[id='password']").blur(function validate(){
                    el = $("input[id='password']");
                    inputString = el.val();
                    if(inputString==""){
                        $("#msg1").css({ "color": "red", });
                        $("#msg1").html(" Вы должны заполнить поле");
                    } else {
                        $("#msg1").css({ "color": "green", });
                        $("#msg1").html(" Ок");
                    }
});
                        });
                        </script>
       <script>

                (function( $ ){

                $(function() {

                  $('.rf').each(function(){
                    // Объявляем переменные (форма и кнопка отправки)
                	var form = $(this),
                        btn = form.find('.btn_submit');

                    // Добавляем каждому проверяемому полю, указание что поле пустое
                	form.find('.rfield').addClass('empty_field');

                    // Функция проверки полей формы
                    function checkInput(){
                      form.find('.rfield').each(function(){
                        if($(this).val() != ''  ){

                          // Если поле не пустое удаляем класс-указание
                		$(this).removeClass('empty_field');
                        } else {
                          // Если поле пустое добавляем класс-указание
                		$(this).addClass('empty_field');
                        }
                      });
                    }

                    // Функция подсветки незаполненных полей
                    function lightEmpty(){
                      form.find('.empty_field').css({'border-color':'#d8512d'});




                      // Через полсекунды удаляем подсветку
                      setTimeout(function(){
                        form.find('.empty_field').removeAttr('style');
                      },500);
                    }

                    // Проверка в режиме реального времени
                    setInterval(function(){
                      // Запускаем функцию проверки полей на заполненность
                	  checkInput();
                      // Считаем к-во незаполненных полей
                      var sizeEmpty = form.find('.empty_field').size();
                      // Вешаем условие-тригер на кнопку отправки формы
                      if(sizeEmpty > 0){
                        if(btn.hasClass('disabled')){
                          return false
                        } else {
                          btn.addClass('disabled')
                        }
                      } else {
                        btn.removeClass('disabled')
                      }
                    },500);

                    // Событие клика по кнопке отправить
                    btn.click(function(){
                      if($(this).hasClass('disabled')){
                        // подсвечиваем незаполненные поля и форму не отправляем, если есть незаполненные поля
                		lightEmpty();
                        return false
                      } else {
                        // Все хорошо, все заполнено, отправляем форму
                        form.submit();
                      }
                    });
                  });
                });

                })( jQuery );
                </script>

               	<a href="/signup">Registration</a>

             	</form>

                </div>
                <div id="columR">
                    <h3>Top sells</h3>
                    <ul>
                           <% sales.filter(x => x.title).forEach( sale => { %>
                        <li>
                            <div class="img"><a href="/products/<%=sale.href%>"><img alt="" src='data:image/jpg;base64,<%= sale.avatar1 %>'></a></div>
                            <div class="info">
                                <a class="title" href="/products/<%=sale.href%>"><%= sale.title %></a>
                                <div class="price">
                                    <span id="lprice" class="usual"> $<%= sale.lastprice %> </span>&nbsp;
                                    <span class="special">$<%= sale.price %></span>
                                </div>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </section>
        </div>


    <footer>

             Copyright © 2016 Aleksandra Pyvovarchuk

    </footer>

</div>

</body></html>
