<!DOCTYPE html>
<html lang="en">
<head>
  <title>logo</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="img/fav.png">
<link rel="stylesheet" href="../stylesheets/js/jquery.min.js" type="text/css" media="all">
<script type="text/javascript" src="../stylesheets/js/jquery-1.2.6.js"></script>
<link rel="stylesheet" href="../stylesheets/styleprod.css" type="text/css" media="all">

<script type="text/javascript" src="../stylesheets/js/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#search_button").click(function(){
    alert($("#search_input").val());
    $.ajax({type:"GET", url:"/search" , dataType: "json", data: {q:$("#search_input").val()}, success: function(result){
      alert(result[0].title);
    }});
  });
});
</script>



</head>



<body>

<div class="container">

        <header>

          <nav>
          <ul>
          <li class="menu">
            <a href="/">Головна</a></li>
          <li><a href="/brands">Бренди</a></li>
          <li><a href="/products">Каталог товарів</a></li>
          <li><a href="/rules">Правила користування</a></li>
          <li><a href="/profile">Акаунт</a></li>
           <!-- <li><button> <img src="img/korzina1.png" href = "index.html"></button></li>-->
          </ul>
          </nav>

            <div class="head">
                <div class="logo">
                    <a href="#"><img src="../stylesheets/img/up.png" title="Logo" alt="Logo" /></a>
                </div>

                <section id="search">

                  <form action="/searchwind"  method="get" enctype="form-data">

                      <input type="text"  name='q' placeholder= "Search" >
                      <input type="submit" value="search">
                  </form>

                    <ul id="social">
                      <li><a href="https://www.facebook.com" title="facebook" rel="external nofollow"><img alt="" src="../stylesheets/img/facebook.png"></a></li>
                      <li><a href="https://twitter.com" title="twitter" rel="external nofollow"><img alt="" src="../stylesheets/img/twitter.png"></a></li>
                      <li><a href="https://vk.com/" title="vk" rel="external nofollow"><img alt="" src="../stylesheets/img/vk.png"></a></li>
                      <li><a href="https://ok.ru" title="odnoklassniki" rel="external nofollow"><img alt="" src="../stylesheets/img/odnoklassniki.png"></a></li>
                      <li><a href="https://www.youtube.com" title="youtube" rel="external nofollow"><img alt="" src="../stylesheets/img/youtube.png"></a></li>
                  </ul>
                </section>
            </div>
            <section id="submenu">
              <ul>
              <li><a href="/comp">Комп'ютери та ноутбуки</a></li>
              <li><a href="/phones">Телефони</a></li>
              <li><a href="/home">Товари для дому</a></li>
              <li><a href="/cloth">Одяг та взуття</a></li>
              <li><a href="/book">Книги та канцтовари</a></li>
              <li><a href="/applhome">Побутова техніка</a></li>
              </ul>
            </section>

        </header>


<script type="text/javascript">
function changeImg(lin){
  var img = document.getElementById("myImg");
  img.src=lin;
}
</script>
        <div id="main">
            <section id="content">
                <div id="columL">
                    <h3><%= prod.title %></h3>
                 <div class = "left-left">
                       <div class = "anons">
                           <section>
                             <div class = "image">
                              <a href = "#"> <img id="myImg"  src='data:image/jpg;base64,<%= prod.avatar1 %>' height="200" width="200" alt = "Apple"></a>
                             </div>
                           </section>
                       </div>
                    <div class="block">
                        <div class ="smal_img">
                          <a href = "#" onclick="changeImg('data:image/jpg;base64,<%= prod.avatar1 %>')"><img src='data:image/jpg;base64,<%= prod.avatar1 %>' height="50" width="50" alt = "Apple"></a>
                        </div>
                        <div class ="smal_img">
                          <a href = "#" onclick="changeImg('data:image/jpg;base64,<%= prod.avatar2 %>')"><img src='data:image/jpg;base64,<%= prod.avatar2 %>' height="50" width="50" alt = "Apple"></a>
                        </div>
                        <div class ="smal_img">
                          <a href = "#" onclick="changeImg('data:image/jpg;base64,<%= prod.avatar3 %>')"><img src='data:image/jpg;base64,<%= prod.avatar3 %>' height="50" width="50" alt = "Apple"></a>
                        </div>
                        <div class ="smal_img">
                          <a href = "#" onclick="changeImg('data:image/jpg;base64,<%= prod.avatar4 %>')"><img src='data:image/jpg;base64,<%= prod.avatar4 %>' height="50" width="50"  alt = "Apple"></a>
                        </div>

                    </div>
                  </div>
                <div class="columMed">
<table>

<tbody>
  <tr>
    <td><strong>Name</strong></td>

    <td><%= prod.title%></td>
  </tr>
  <tr>
    <td><strong>Price</strong></td>

    <td>$<%= prod.price%></td>
  </tr>

  <tr>
    <td><strong>Weight</strong></td>

    <td><%= prod.weight %></td>
  </tr>
  <tr>
    <td><strong>Guarantee</strong></td>

    <td><%= prod.guarantee %></td>
  </tr>
  <tr>
    <td><strong>Description </strong></td>

    <td><%= prod.description %></td>
  </tr>

</tbody>
</table>
<ul>
    <li>

        <div class="info">

            <div class="actions">
              <form action = "/addtocart" method="post">
                <input type="text" hidden="true" name="prtitle" value="<%= prod.href %>">
                <input type="text" hidden="true" name="prid" value="<%= user.identef%>">
               <input class = "a" type="submit" name="submit" value="Add to cart">
                </form >
                <form action = "/addtolist" method="post">
                  <input type="text" hidden="true" name="prtitle" value="<%= prod.href %>">
                  <input type="text" hidden="true" name="prid" value="<%= user.identef%>">
                 <input class = "b" type="submit" name="submit" value="Add to watch list">
               </form >
               <form id="new">

                  <input id="but" class = "a" type="button" value="Add comment" >

               </form>

            </div>

            <script type="text/javascript">
            $(document).ready(function(){
    $("input#but").click(function(){
      $("div#p2").append(" <label for='description'>Comment: </label><form action = '/addcomment' method='post'>  <textarea maxlength='200' id='description' name='description'></textarea><input type='text' hidden='true' name='prtitle' value='<%= prod.title %>'><input class = 'b' type='submit' name='submit' value='Add comment'></form >");
      $("input#but").remove();

    })
});
            </script>

        </div>
<div id="p2" class='form-row'></div>

    </li>
  </ul>
  </div>

  <div class="com">
    <ul>
      <% if(prod.comments.length>0){%>
        <h3>Comments:</h3>
      <%}%>
      <% for (var i = 0; i < prod.comments.length; i++) {  %>
        <li>
            <div class="cont">
              <form action = "/deletecom" method="post">
                <% if(user.local.role =="admin") { %>
                 <input type="text" hidden="true" name="prtitle" value="<%=i%>">
                 <input type="text" hidden="true" name="prid" value="<%= prod.href%>">
                 <input type="text" hidden="true" name="prlog" value="<%=prod.comments[i][0]%>">
                 <input type="text" hidden="true" name="prcom" value="<%=prod.comments[i][1]%>">
                 <input  type="submit" name="submit" value="X">
                <%}%>
                 <a  class="title" href="/profile/<%=prod.comments[i][0]%>"><%=prod.comments[i][0]%></a>
 </form >
            <p ><%= prod.comments[i][1]%></p>
            </div>
        </li>
          <%}%>
      </ui>





</div>




                </div>


                <div id="columR">
                    <h3>Top sells</h3>
                    <ul>
                           <% sales.filter(x => x.title).forEach( sale => { %>
                        <li>
                            <div class="img"><a href="/products/<%=sale.href%>"><img alt="" src='data:image/jpg;base64,<%= sale.avatar1 %>'></a></div>
                            <div class="info">
                                <a class="title" href="/products/<%=sale.href%>"><%= sale.title %></a>
                                <div class="price">
                                    <span id="lprice" class="usual"> $<%= sale.lastprice %> </span>&nbsp;
                                    <span class="special">$<%= sale.price %></span>
                                </div>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </section>
        </div>


    <footer>

             Copyright © 2016 Aleksandra Pyvovarchuk

    </footer>

</div>

</body></html>
